@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f3f3f3;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: #686868;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-texto {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
  gap: 50px;
}

h1 {
  font-size: 1.5em;
}

.menu-texto-2 {
  justify-content: flex-end;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

nav > ul > li > a {
  color: #585e65;
}

div > div > a {
  display: flex;
  font-size: 0.9em;
  text-decoration: none;
  height: 40px;
  background-color: #4c6ef5;
  color: #ffffff;
  padding: 0 30px;
  align-items: center;
  border-radius: 4px;
  border: none;
}

main > ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 0;
}

main > ul > li {
  background-color: #ffffff;
  height: 300px;
  width: 24%;
}

main > ul > li > div {
  display: flex;
  width: 100%;
}

img {
  width: 65%;
  margin: 0 auto;
}

/* div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
} */
